@import url('https://fonts.googleapis.com/css?family=Roboto:400,900i');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    background: #ff4136;
    margin: 0;
    padding: 0;
}

.container{
    background: #eee;
    min-height: 100vh;
    padding: 10px 20px;

    h1{
        font-weight: 900;
        font-style: italic;
        color: #ff4136;
    }

    h6{
        margin-top: -30px;
    }

    hr{
        margin-top: 0;
        margin-bottom: 15px;
        border-top: solid 1px #ff4136;
    }

    code{
        font-size: 15px;
        font-family: monospace;
    }

    .code{
        background: #dfdfdf;
        border-radius: 2px;
        padding: 0 5px;
        font-size: 15px;
        font-family: monospace;
    }

    footer{
        p{
            text-align: right;
            margin-bottom: 0;
        }
    }
}
